.classpath
.project
.settings
.gradle
gradle.properties

build/
core/build/
debug/build/
experimental/build/
extensions/build/

bin/
core/bin
debug/bin
experimental/bin
extensions/bin

target/

# IntelliJ IDE artifacts
local.properties
.idea/
*.iml

# Mac OS
.DS_Store
